# Database connection string
DATABASE_URL="postgresql://user:password@localhost:5432/acnerra?schema=public"

# Next Auth (Auth.js) configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"

# GitHub OAuth (Optional for now)
# GITHUB_ID=""
# GITHUB_SECRET=""
